<% provide(:title, "Sign Up") %>
<h1>Sign up to join the discussion</h1>
<p class="center">Signing up here will allow you to join the discussion.</p>

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <%= form_for(@user) do |form| %>
            <%= form.label :name %>
            <%= form.text_field :name %>
            
            <%= form.label :email %>
            <%= form.email_field :email %>
            
            <%= form.label :password %>
            <%= form.password_field :password %>
            
            <%= form.label :password_confirmation, "Confirmation" %>
            <%= form.password_field :password_confirmation %>
            
            <%= form.submit "Create my account", class: "btn btn-primary" %>
        <% end %>
    </div>
</div>
